.section {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  max-width: 1200px;
  width: 100%;
  background-color: white;
  padding: 10px;
  min-height: 80vh;
}

.title {
  text-align: center;
}

.button__row {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

.button__all {
  width: 120px;
  font-family: 'Gochi Hand', cursive;
  font-size: 22px;
  padding: 5px 0;
  border-radius: 15px;
  cursor: pointer;
  background-color: lightgrey;
  border: 1px solid grey;

  &:hover {
    opacity: 0.7;
    box-shadow: 3px 3px 3px darkgrey;
  }

  &:active {
    opacity: 1;
    box-shadow: none;
  }
}

.button__alive {
  width: 120px;
  font-family: 'Gochi Hand', cursive;
  font-size: 22px;
  padding: 5px 0;
  border-radius: 15px;
  cursor: pointer;
  background-color: limegreen;
  border: 1px solid green;

  &:hover {
    opacity: 0.7;
    box-shadow: 3px 3px 3px darkgrey;
  }

  &:active {
    opacity: 1;
    box-shadow: none;
  }
}

.button__dead {
  width: 120px;
  font-family: 'Gochi Hand', cursive;
  font-size: 22px;
  padding: 5px 0;
  border-radius: 15px;
  cursor: pointer;
  background-color: orangered;
  border: 1px solid red;

  &:hover {
    opacity: 0.7;
    box-shadow: 3px 3px 3px darkgrey;
  }

  &:active {
    opacity: 1;
    box-shadow: none;
  }
}

.button__unknown {
  width: 120px;
  font-family: 'Gochi Hand', cursive;
  font-size: 22px;
  padding: 5px 0;
  border-radius: 15px;
  cursor: pointer;
  background-color: yellow;
  border: 1px solid orange;

  &:hover {
    opacity: 0.7;
    box-shadow: 3px 3px 3px darkgrey;
  }

  &:active {
    opacity: 1;
    box-shadow: none;
  }
}

.box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 40px;
  padding: 18px;
}

.card {
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;
  width: fit-content;
  box-shadow: 5px 5px 5px darkgrey;
}

.card__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 30px;
}

.card__title {
  font-size: 18px;
}

.status {
  border: 1px solid black;
  width: 100%;
  height: 20px;
  border-radius: 10px;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
}

.card__button {
  font-family: 'Gochi Hand', cursive;
  cursor: pointer;
  background-color: limegreen;
  border-radius: 5px;
  border: 1px solid green;

  &:hover {
    opacity: 0.7;
    box-shadow: 3px 3px 3px darkgrey;
  }

  &:active {
    opacity: 1;
    box-shadow: none;
  }
}

.next__button {
  background-color: limegreen;
  cursor: pointer;
  width: 35px;
  height: 35px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid darkgreen;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    background-color: limegreen;
    opacity: 1;
  }

  &:disabled {
    background-color: lightgrey;
    border-color: grey;
    opacity: 0.6;
    cursor: not-allowed;
  }
}